.companies_container{
    background-color: var(--color-companies-bg);
    height: 240px;
    width: 100%;
}
.companies_container h2{
    text-align: center;
    padding-top: 65px;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 500;
}
.companies_container .companies_list img{
    margin-right: 80px;
}