.navigation_container{
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin: 30px 0 0;
    width: 100%;
    padding: 0 120px;
    z-index: 1;
}
.mid_div{
    display: flex;
    align-items: center;
}
.mid_div ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.mid_div ul li{
    
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.mid_div ul li img{
    margin-left: 10px;
}
.nav_logo{
    font-family: 'Glory', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
    
    
}
.start_free{
    background: #4F46BA;
    padding: 20px 40px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 50px;
    cursor: pointer;
}
a{
    color: black;
}