.discover_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-bluelike);
    margin: 0 120px;
    border-radius: 20px;
    height: 440px;
    margin-top: 150px;
}
.discover_container .discover_contents .discover_title{
    font-weight: 800;
    font-size: 56px;
    line-height: 61px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 763px;
}
.discover_contents{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.discover_contents .button{
    background-color: var(--color-orange-btn);
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 10px;
    width: 225px;
    cursor: pointer;
}
.discover_contents .button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    scale: 1.005;
    cursor: pointer;
}
.button > p{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}



.discover_image1{
    position: absolute;
    top: 58px;
    left: 230px;
}
.discover_image2{
    position: absolute;
    top: 50px;
    right: 120px;
}
.discover_image3{
    position: absolute;
    left: 295px;
    bottom: 120px;
}
.discover_image4{
    position: absolute;
    right: 40px;
    bottom: 55px;
}
.discover_image5{
    position: absolute;
    left: 140px;
    bottom: 45px;
}