.testimonial_card_container{
    position: relative;
    height: 400px;
    display: flex;
    border: 1px solid var(--color-border);
    background-color: white;
    border-radius: 10px;
  
}
.testimonial_card_container:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    scale: 1.005;
  
}
.quote_circle{
    position: absolute;
}
.author_description{
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -0.02em;
    margin: 50px 35px 40px;
}
.author_name{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin: 0 35px 40px;
}
.testimonial_card_left{
    width: 370px;
}
.testimonial_card_right{
    padding: 20px;
}
.testimonial_card_right img{
    width: 100%;
    
}

/***************** for tablets********* */  
@media screen and (max-width: 980px) {
    
    .testimonial_card_container{
        height: 100%;
        display: flex;
        flex-direction: column;
      
    }    
    
    
    


}
/***************** for tablets********* */  
@media screen and (max-width: 640px) {
    
    .testimonial_card_container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      
    }    
    .author_name{
        font-weight: 500;
        font-size: 15px;
        margin: 0 35px 40px;
    }
    .author_description{
        font-weight: 500;
        font-size: 20px;
        margin: 50px 35px 40px;
    }
    .testimonial_card_left{
        width: 100%;
    }
    
    
    


}
