.features_container{
    position: relative;
    background-color: var(--color-feature-bg);
    width: 100%;
    padding: 140px 120px;
    margin-bottom: 140px;
    height: 100%;
    
}


.features_texts h1{
    margin-bottom: 37px;
    font-weight: 800;
    font-size: 71px;
    letter-spacing: -0.03em;
    line-height: 66px;
}
.features_texts h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    width: 557px;
}
.features_texts{
    margin-bottom: 50px;
}
.feature_cards{
    display: flex;
    justify-content: space-between;
    height: 330px;
    
    
}
.small_divs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.minusImage{
    position: absolute;
    left: 0;
    bottom: 100px;
    
}

/********** for tablets ************/  
@media screen and (max-width: 980px) {

    .features_container{
        position: relative;
        background-color: var(--color-feature-bg);
        width: 100%;
        padding: 70px 60px;
        
    }
    .feature_cards{
        display: flex;  
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        height: 100%;
      
        
    }
    .small_divs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
    }

}

/********** for mobiles ************/  
@media screen and (max-width: 640px) {

    .features_container{
        width: 100%;
        padding: 35px 30px;
        
    }

    .features_texts h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
    }
    .features_texts h5{
        font-weight: 500;
        font-size: 18px;
        width: 100%;
    }
    .small_divs{
        gap: 5px;
    }

}
