.testimonial_container{
    margin: 0 120px;
    position: relative;
    margin-bottom: 50px;
}
.testimonial_contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}
.testimonial_contents_left{
    width: 570px;
}
.testimonial_contents_left h1{
    font-weight: 800;
    font-size: 71px;
    line-height: 66px;
    letter-spacing: -0.03em;
    
}
.testimonial_contents_left h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.02em;
    margin-top: 37px;
}
.testimonial_contents_right{
    position: absolute;
    right: 300px;
    top: 30px
}
.testimonial_cards{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}