.payment_tracking_container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 120px;
    height: 500px;
    
}
.payment_photo{
    position: relative;
    
    height: 500px;
    width: 100%;
}
.payment_photo img{
    margin-left: -33px;
    object-fit: cover;
    overflow: hidden;
    
}
.gologolo{
    position: absolute;
    top: 0;
    right: 123px;
}

.payment_contents .payment_title{
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.03em;
    margin-bottom: 30px;
}
.payment_contents h5{
    color: var(--color-bluelike);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    
}
.payment_contents .payment_subtitle{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(100, 96, 125, 1);
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(196, 196, 196, 1);
}
.payment_ticks div{
    display: flex;
    align-items: center;
    margin-top: 13px;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: rgba(100, 96, 125, 1)


}
.payment_ticks img{
    margin-right: 10px;


}
/*****************For tablets*********************/
@media screen and (max-width: 980px) {
   
    .payment_tracking_container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 260px 60px;
        height: 500px;
        
    }
    .gologolo{
        position: absolute;
        top: 0;
        left: 500px;
    }
    
    

}
/*****************For mobiles*********************/
@media screen and (max-width: 640px) {
   
    .payment_tracking_container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 60px 30px;
        height: 100%;
        
    }
    .gologolo{
        display: none;
    }
    .payment_photo{
        height: 100%;
        margin-bottom: 20px;
    }
    .payment_photo img{
        
        width: 100%;
        position: relative;
        left: 30px;
        object-fit: contain             ;
        overflow: hidden;
        
    }
    .payment_contents .payment_title{
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
    }
    .payment_contents .payment_subtitle{
        font-size: 14px;
    }
    
    
    

}